
.row {
    padding-bottom: 20px;
}

.hero {
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}

.hero p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

nav.navbar {
    background-color: #ffffff;
  }
  
  
  .nav a {
    font-family: 'Montserrat', sans-serif;
  }